# Database Connection String (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dayflow_hrms?schema=public"

# Authentication
JWT_SECRET="dayflow_hrms_super_secret_jwt_key_2026"

# Server Port
PORT=5000
