@import "tailwindcss";
@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased font-sans selection:bg-indigo-100 selection:text-indigo-900;
  }
}

@media print {
  .print-hidden {
    display: none !important;
  }
  body {
    background-color: white !important;
  }
  .print-container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
